<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  Control Panel
  <form action="" method="POST" id="form" enctype="multipart/form-data">
    <img src="" alt="loads when file is uploaded" id="image">
    <div>
      <label for="image">Upload image to database</label>
      <input name="image" id="file_input" type="file" onchange="loadFile(event)"
        accept="image/png, image/jpg, image/jpeg" required>
    </div>
    <div>
      <label for="filename">filename <small>(make sure file extension is right)</small></label>
      <input type="text" id="fname_inp" name="filename" required placeholder="filename.ext">
    </div>
    <div>
      <input type="submit">
    </div>
  </form>
  <hr>
  <form action="remove_user" method="POST" id="banForm">
    <h3>Ban a user</h3>
    <div>
      <label for="username">username:</label>
      <input type="text" name="username" id="username" required>
    </div>
    <div>
      <input type="submit" value="Ban">
    </div>
  </form>
  <hr>
  <form action="verify_user" method="POST">
    <h3>Verify a user</h3>
    <p>This will give them "isVerified: true" in the database</p>
    <p>Also a verified badge in the ui</p>
    <div>
      <label for="username">username:</label>
      <input type="text" name="username" required>
    </div>
    <div>
      <input type="submit" value="Verify">
    </div>
  </form>
  <hr>
  <form action="unverify_user" method="POST">
    <h3>Unverify a user</h3>
    <p>This will unset "isVerified: true" from the database</p>
    <p>Also remove verified badge in the ui</p>
    <div>
      <label for="username">username:</label>
      <input type="text" name="username" required>
    </div>
    <div>
      <input type="submit" value="Unverify">
    </div>
  </form>
  <hr>
  <form action="set_evexsland_staff_user" method="POST">
    <h3>Set a user as EvexsLand Staff</h3>
    <p>This will give them "isEvexsStaff: true" in the database</p>
    <p>Also a EvexsLand Staff badge in the ui</p>
    <div>
      <label for="username">username:</label>
      <input type="text" name="username" required>
    </div>
    <div>
      <input type="submit" value="Set">
    </div>
  </form>
  <hr>
  <form action="unset_evexsland_staff_user" method="POST">
    <h3>Remove a user from EvexsLand Staff</h3>
    <div>
      <label for="username">username:</label>
      <input type="text" name="username" required>
    </div>
    <div>
      <input type="submit" value="Unset">
    </div>
  </form>
  <script>
    var loadFile = function (event) {
      var output = document.getElementById('image');
      var inp = document.getElementById('file_input')
      var fnameinp = document.getElementById('fname_inp')

      var filename = inp.value.split('\\')[inp.value.split('\\').length - 1]

      fnameinp.value = filename

      output.src = URL.createObjectURL(event.target.files[0]);
      output.onload = function () {
        URL.revokeObjectURL(output.src)
      }
    };
  </script>
</body>

</html>