<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8608123588288071"
        crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords"
        content="Nawaf, Nawaf alqari, nawaf.dev, nawaf.cf, nawafcf, nawaf cf, LinksBase, linksb, linksbase.me, linksb.me">
    <meta name="description" content="LinksBase - Your Links In One Place">
    <meta name="author" content="LinksBase">
    <meta name="theme-color" content="#007bff">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        * {
            -webkit-appearance: none;
        }

        a {
            color: var(--mblue) !important;
        }

        a:hover {
            colors: var(--mblue) !important;
        }

        div.f {
            display: flex;
            justify-content: center;
        }

        footer {
            position: absolute;
            bottom: 0;
            color: var(--text-color);
        }
    </style>
    {% block head %}
    {% endblock %}
</head>

<body>
    {% block body %}
    {% endblock %}
    <div class="container f">
        <footer class="page-footer font-small blue">
            <div class="footer-copyright py-3">© Copyright <a href="https://linksb.me/">LinksBase</a>. All Rights Reserved
            </div>
        </footer>
    </div>
</body>

</html>